<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [29]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [30]:
# задаем параметры подключения к базе данных
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

# формируем строку соединения с базой данных
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])


# подключаемся к базе данных
engine = create_engine(connection_string)

In [39]:
# формируем sql-запрос
query = ''' SELECT * 
            FROM dash_visits
        '''

In [40]:
# выгружаем файл из базы и смотрим на коректность выгрузки
dash_visits = pd.io.sql.read_sql(query, con=engine)
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [42]:
# сохраняем выгруженный файл
dash_visits.to_csv('dash_visits.csv', index=False)

In [47]:
print(dash_visits.dt.min())
print(dash_visits.dt.max())

2019-09-24 18:28:00
2019-09-24 19:00:00

**Дашбоард:** <https://public.tableau.com/app/profile/matvey.gulyaev/viz/project_yandex_tableau/Dashboard?publish=yes>

**Презентация:** <https://disk.yandex.ru/i/fZCAEldcbWTkJA>